In [1]:
# https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1

In [2]:
{"genre_id":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

{'genre_id': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm  # for progress bar
import time
import random

In [4]:
def fetch_movies_pages(api_url, page=1):
    try:
        response = requests.get(api_url, params={"page": page})
        response.raise_for_status()  # Check for errors
        data = response.json()
        return data["results"]  # List of movies
    except Exception as e:
        print(f"Error fetching page {page}: {e}")
        return []

In [5]:
genre_map = {
    28: "Action",
    12: "Adventure",
    16: "Animation",
    35: "Comedy",
    80: "Crime",
    99: "Documentary",
    18: "Drama",
    10751: "Family",
    14: "Fantasy",
    36: "History",
    27: "Horror",
    10402: "Music",
    9648: "Mystery",
    10749: "Romance",
    878: "Science Fiction",
    10770: "TV Movie",
    53: "Thriller",
    10752: "War",
    37: "Western",
}
def extract_movie_data(movie):
    genre_ids = movie.get("genre_ids", [])
    genre_names = [genre_map.get(gid, "Unknown") for gid in genre_ids]
    
    return {
        "title": movie.get("title", "N/A"),
        "rating": movie.get("vote_average", "N/A"),
        "movie_type": genre_names,
        "overview": movie.get("overview", "N/A"),
    }

In [6]:
# all_movies = []
# for i in tqdm(range(1, 501)):
#     api_url = "https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1"
#     movies = fetch_movies_pages(api_url, page=i)
#     time.sleep(0.2)
#     for movie in movies:
#         all_movies.append(extract_movie_data(movie))

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 500/500 [14:40<00:00,  1.76s/it]

In [7]:
df = pd.DataFrame(all_movies)

In [9]:
df.shape

(10000, 4)

In [11]:
df.sample(10)

,title,rating,movie_type,overview
9475,Tusk,5.516,"[Comedy, Horror]",When his best friend and podcast co-host goes ...
4345,Nineteen Eighty-Four,6.807,"[Drama, Science Fiction]",George Orwell's novel of a totalitarian future...
5252,Barefoot,6.631,"[Comedy, Drama, Romance]","The ""black sheep"" son of a wealthy family meet..."
5904,Before I Wake,6.500,"[Drama, Fantasy, Horror, Thriller]",An orphaned child's dreams—and nightmares—mani...
3289,Don't Be a Menace to South Central While Drink...,7.029,"[Comedy, Crime]",When Ashtray moves to South Central L.A. to li...
7436,White Bird in a Blizzard,6.200,"[Thriller, Drama]","In 1988, a teenage girl's life is thrown into ..."
5366,A Christmas Prince,6.606,"[Romance, TV Movie]",When a reporter goes undercover as a nanny to ...
4198,The Man Who Invented Christmas,6.836,"[Drama, History, Comedy, Family]","In 1843, despite the fact that Dickens is a su..."
88,Taylor Swift: Reputation Stadium Tour,8.200,[Music],Taylor Swift takes the stage in Dallas for the...
5536,Alex Strangelove,6.572,"[Comedy, Drama]",Alex Truelove is on a quest to lose his virgin...

In [12]:
# df.to_csv("Movies_data.csv", index= False)